@charset "ISO-8859-1";

.navbar{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

nav {
  	width: 100%;
  	padding-left: 10px;
  	padding-right: 10px;
  	background-color: #343333;
}

/* Container for navbar items */
.nav-links {
	margin-top:5px;
  	margin-bottom:5px;
  	list-style: none;
  	display:flex;
}

/* 3 link buttons on navbar */
.nav-item a {
  	display: inline-block;
  	padding: 10px 15px;
  	margin-right: 5px;
  	margin-left: 5px;
  	text-decoration: none;
  	color: white;
}

/* "[Company Name]" on navbar */
.nav-item p{
	display: inline-block;
  	padding: 10px 15px;
  	margin-right: 5px;
  	margin-left: 5px;
  	text-decoration: none;
  	color: white;
}

#logoutButton{
	border-radius: 26px;
}

#companyNameText{
	font-size: 30px;
	text-align: center;
}

table, th, td{
	border: 1px solid black
}

th{
	background-color: grey;
	color: white;
	font-size:20px;
}

td{
	width:120px;
	height:100px;
	vertical-align: top;
}

table{
	margin: auto;
	border-collapse: collapse;
}

h1{
	text-align: center;
}

.calendar-and-daily-info{
	display:flex;
	justify-content:space-around;
	margin: 5% 2% 5% 2%;
}

.daily-info-section{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	background-color: lightgrey;
	padding:20px;
	width: 20%;
}

#day-info-header{
	text-align:center;
	font-size: 24px;
}

#delete-button{
	background-color:#D15656;
	padding:5px;
	text-align:center;
	display:inline;
}

.month-navigation{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-bottom: 2%;
	margin-top: 2%;
}

#month-header-text{
	text-align: center;
	font-size:22px;
	margin:0;
	padding:0;
}

#prevButton{
	margin-right:2%;	
}

#nextButton{
	margin-left:2%;	
}


.button{
	font-size: 1em;
	padding: 15px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #403e3d;
	border-radius: 50px;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opactity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target{
	visibility: visible;
	opacity: 1;
}

.wrapper{
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}

.wrapper h2{
	margin-top: 0;
	color: #333;
}

.wrapper .close{
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.wrapper .content {
	max-height: 30%;
	overflow: auto;
}

.container {
	border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
}

form label {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}

input[type="text"], textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type="submit"]{
	background-color: #412b3b;
	color: #fff;
	padding: 15px 50px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
}



