@charset "ISO-8859-1";


.navbar{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

/*
*/
.nav-links li{
	border-radius: 20px;
	margin: 10px;
	background-color:#8D8D8D;
}

.nav-links2 {
	border-radius: 0px;
	margin: 10px;
}


.navbar li a:hover {
	/*Make the Navbar a little more fun */
	
	color: black;
	transition: background-color 0.5s;

}

nav {
  	width: 100%;
  	padding-left: 10px;
  	padding-right: 10px;
  	background-color: #343333;
}

/* Container for navbar items */
.nav-links {
	font-family: 'Poppins';
	margin-top:5px;
  	margin-bottom:5px;
  	list-style: none;
  	display:flex;
}

/* 3 link buttons on navbar */
.nav-item a {
	font-family: 'Poppins';
	font-size: 22px;
  	display: inline-block;
  	padding: 10px 15px;
  	margin-right: 5px;
  	margin-left: 5px;
  	text-decoration: none;
  	color: white;
}

/* "[Company Name]" on navbar */
.nav-item p{
	font-family: 'Poppins';
	font-size: 40px;
	display: inline-block;
  	padding: 10px 15px;
  	margin-right: 5px;
  	margin-left: 5px;
  	text-decoration: none;
  	color: white;
}

#logoutButton{
	border-radius: 26px;
}

#companyNameText{
	font-size: 30px;
	text-align: center;
}

table, th, td{
	border: 1px solid black
}

th{
	font-family: 'Poppins';
	background-color: grey;
	color: white;
	font-size:20px;
}

td{
	width:120px;
	height:100px;
	vertical-align: top;
}

table{
	margin: auto;
	border-collapse: collapse;
}

h1{
	text-align: center;
}

.calendar-and-daily-info{
	font-family: 'Poppins';
	display:flex;
	justify-content:space-around;
	margin: 5% 2% 5% 2%;
}

/* */
.calendar-and-daily-info td a:hover {
	/*background-color: #f26d66; */
	transition: background-color 0.5s;
	font-weight: 600;
}

.daily-info-section{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	background-color: lightgrey;
	padding:20px;
	width: 20%;
	border-radius: 25px;
	border-color: black;
	border-width: 2px; 
}

#day-info-header{
	text-align:center;
	font-size: 24px;
}

.daily-info-section li:hover {
	font-weight: 400;
}

#delete-button{
	background-color: #f26d66; /* */
	padding:5px;
	text-align:center;
	display:inline;
	color: white;
	border-radius: 15px;
}

.month-navigation{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-bottom: 2%;
	margin-top: 2%;
}

#month-header-text{
	text-align: center;
	font-size:22px;
	margin:0;
	padding:0;
}

#prevButton{
	margin-right:2%;	
}

#nextButton{
	margin-left:2%;	
}


.button{
	font-size: 1em;
	padding: 15px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #403e3d;
	border-radius: 50px;
}

.overlay {
	font-family: 'Poppins';	
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opactity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target{
	visibility: visible;
	opacity: 1;
}

.wrapper{
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}

.wrapper h2{
	margin-top: 0;
	color: #333;
}

.wrapper .close{
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.wrapper .content {
	max-height: 30%;
	overflow: auto;
}

.container {
	border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
}

form label {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}

input[type="text"], textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type="submit"]{
	background-color: #f26d66;
	color: #fff;
	padding: 15px 50px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
td a {
    display:block;
    width:100%;
    height:100%;
}

.center {
	text-align:center;
}

/* IM BLUE DOBA DI DOBA DIE
.week1 {
	background-color: #bfd6f6;
}

.week2 {
	background-color: #8dbdff;
}

.week3 {
	background-color: #64a1f4;
}

.week4 {
	background-color: #4a91f2;
}

.week5 {
	background-color: #3b7dd8;
}
*/

/* WATER LORD
.week1 {
	background-color: #ebf4f6;
}

.week2 {
	background-color: #bdeaee;
}

.week3 {
	background-color: #76b4bd;
}

.week4 {
	background-color: #58668b;
}

.week5 {
	background-color: #5e5656;
}
*/

/* BEACHY
.week1 {
	background-color: #fff6e9;
}

.week2 {
	background-color: #ffefd7;
}

.week3 {
	background-color: #fffef9;
}

.week4 {
	background-color: #e3f0ff;
}

.week5 {
	background-color: #d2e7ff;
}
*/

/* PASTEL 
.week1 {
	background-color: #a8e6cf;
}

.week2 {
	background-color: #dcedc1;
}

.week3 {
	background-color: #ffd3b6;
}

.week4 {
	background-color: #ffaaa5;
}

.week5 {
	background-color: #ff8b94;
}
*/

/* RAINBOW GRADIENT
#weekdays {
	background: linear-gradient(to right, #FBEC6B, #F4BC6B);
}
.week1 {
	background: linear-gradient(to right, #FBEC6B, #f2905e);
}

.week2 {
	background: linear-gradient(to right, #f2905e, #fa3747);
}

.week3 {
	background: linear-gradient(to right, #fa3747, #8006bd);
}

.week4 {
	background: linear-gradient(to right, #8006bd, #5ea9ff);
}

.week5 {
	background: linear-gradient(to right, #5ea9ff, #92fcb0);
}
*/