@charset "ISO-8859-1";

.navbar{
	display:flex;
	justify-content: space-between;
}

nav {
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
}

.nav-links {
  list-style: none;
  display:flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}



